/* ====     colors  Varable ==== */
    :root
    {
        --color-main :var(--color-gray); 
        --color-secound :var(--color-perple-dark) ; 

        --color-white : #fff;
        --color-white-light : #f5f6fe; 
        --color-white-dark : #d9dce7;
        
        --color-gray : #5f6b75;
        --color-gray-dark : #3b444b;

        --color-perple-dark : #9b4dca;

        --col-1: 8.33%;
        --col-2: 16.66%;
        --col-3: 25%;
        --col-4: 33.33%;
        --col-5: 41.66%;
        --col-6: 50%;
        --col-7: 58.33%;
        --col-8: 66.66%;
        --col-9: 75%;
        --col-10: 83.33%;
        --col-11: 91.66%;
        --col-12: 100%;
    }
/* ====    colors  Varable   ==== */


/* ====    background  Class   ==== */
    .bg-white
    {
        background-color: var(--color-white);
    }
    .bg-white-light
    {
        background-color: var(--color-white-light);
    }
    .bg-dark-gray
    {
        background-color: var(--color-gray-dark);
    }

/* ====    background  Class   ==== */


/* ====    color  Class   ==== */
    .color-main
    {
        color : var(--color-main)
    }
    .color-secound
    {
        color : var(--color-secound);
    }
    .color-white
    {
        color : var(--color-white);
    }
/* ====    color  Class   ==== */


/* ====    box Class  ==== */
    .disIB
    {
        display: inline-block;
    }
    .boxSBB
    {
        box-sizing: border-box;
    }
    .container 
    {
        width: var(--col-9);
    }
/* ====    box Class  ==== */


/* ====    size Class  ==== */
    .h100
    {
        height:  100%;
    }
    
/* ====    size Class  ==== */


/* ====    postion Class  ==== */
    .flR
    {
        float: right;
    }
    .flL
    {
        float: left;
    }
    .posRel
    {
        position: relative;
    }
    .posAb
    {
        position: absolute;
    }
    .margCenter 
    {
        margin-right:auto ;
        margin-left: auto;
    }
/* ====    postion Class  ==== */


/* ====    shadow Class  ==== */
    .sh1
    {
        box-shadow: 0 5px 23px rgba(188,207,219,.35);
    }
/* ====    shadow Class  ==== */