/* ====     colors  Varables And Defalt Setting     ==== */
    :root
    {
        --color-main :var(--color-gray); 
        --color-secound :var(--color-perple-dark) ; 

        --color-white : #fff;
        --color-white-light : #f5f6fe; 
        --color-white-dark : #d9dce7;
        
        --color-gray : #5f6b75;
        --color-gray-dark : #3b444b;

        --color-perple-dark : #9b4dca;
        --color-perple-rgba8 :  rgba(155,77,202,0.8);
        --color-gradient-perple : linear-gradient(to right, #E100FF, #7F00FF);

        --col-1: 8.33%;
        --col-2: 16.66%;
        --col-3: 25%;
        --col-4: 33.33%;
        --col-5: 41.66%;
        --col-6: 50%;
        --col-7: 58.33%;
        --col-8: 66.66%;
        --col-9: 75%;
        --col-10: 83.33%;
        --col-11: 91.66%;
        --col-12: 100%;

        --sh1 :0 5px 23px rgba(188,207,219,.35);
        --sh2 :0 0 15px  rgba(188,207,219,.35);
        --sh3 :0 2px 10px 0 rgba(0, 0, 0, 0.12);
        --sh4 :0 7px 20px #673ab755;
        --sh5 : 0 0px 20px #aaacaf;
    }
    ::selection
    {
        background: var(--color-secound);
        color: var(--color-white);
    }
    ::-webkit-scrollbar
    {
        width: 10px;
        background: var(--color-white-light);
    }
    ::-webkit-scrollbar-thumb
    {
        background: var(--color-gray);
        border-radius: 3px;
    }
    ::-webkit-scrollbar-thumb:hover
    {
        background: var(--color-gradient-perple);
    }
/* ====     colors  Varables And Defalt Setting     ==== */


/* ====    background  Class   ==== */
    .bg-white
    {
        background-color: var(--color-white);
    }
    .bg-white-light
    {
        background-color: var(--color-white-light);
    }
    .bg-white-dark
    {
        background-color:var(--color-white-dark);
    }
    .bg-gray-dark
    {
        background-color: var(--color-gray-dark);
    }
    .bg-perple-dark
    {
        background-color: var(--color-perple-dark);
    }
    .bg-perple-rgba8
    {
        background-color: var(--color-perple-rgba8);
    }
    .bg-gray-normal
    {
        background: var(--color-gray);
    }
/* ====    background  Class   ==== */


/* ====    color  Class   ==== */
    .color-main
    {
        color : var(--color-main)
    }
    .color-secound
    {
        color : var(--color-secound);
    }
    .color-white
    {
        color : var(--color-white);
    }
/* ====    color  Class   ==== */


/* ====    box Class  ==== */
    .disIB
    {
        display: inline-block;
    }
    .disN
    {
        display: none;
    }
    .boxSBB
    {
        box-sizing: border-box;
    }
    .container 
    {
        width: var(--col-9);
    }
    .br3{
        border-radius: 3px;
    }
    .br100
    {
        border-radius: 100%;
    }
/* ====    box Class  ==== */


/* ====    size Class  ==== */
    .h100
    {
        height:  100%;
    }
/* ====    size Class  ==== */


/* ====    postion Class  ==== */
    .r100
    {
        right: 100%;
    }
    .t100
    {
        top: 100%;
    }
    .t0
    {
        top: 0;
    }
    .l0
    {
        left: 0;
    }
    .flR
    {
        float: right;
    }
    .flL
    {
        float: left;
    }
    .posRel
    {
        position: relative;
    }
    .posAb
    {
        position: absolute;
    }

    .margCenter 
    {
        margin-right:auto ;
        margin-left: auto;
    }
    .dirR
    {
        direction: rtl;
    }
    .dirL
    {
        direction: ltr;
    }
    .textCenter
    {
        text-align: center;
    }
    .textRight
    {
        text-align: right;
    }
    .textLeft
    {
        text-align: left;
    }
    .clearBoth
    {
        clear: both;
    }
/* ====    postion Class  ==== */


/* ====    shadow Class  ==== */
    .sh1
    {
        box-shadow: var(--sh1);
    }
    .sh2
    {
        box-shadow: var(--sh2);
    }
    .sh3
    {
        box-shadow:  var(--sh3);
    }
    .sh4
    {
        box-shadow: var(--sh4);
    }
/* ====    shadow Class  ==== */


/* ====    Btn Hover Effect  ==== */
.btn::before {
    border-radius: 50px;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.btn:hover::before {
    opacity: 1;
    width: 100%;
}
.btn
{
    transition: all 0.5s;
    position: relative;

}
/* ====    Btn Hover Effect  ==== */

