#PageMenu li
{
    height: var(--col-12);
    display: inline-block;
    margin-left: 19px;
}


#PageMenu li a
{
    color: var(--color-main);
    text-decoration: none;
    padding: 29px 18px;
}

#PageMenu li a:not(.listActive):after {
    background: none repeat scroll 0 0 transparent;
    top: 98%;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--color-main);
    transition: width 0.5s ease 0s, left 0.5s ease 0s;
    width: 0;
}
#PageMenu li a:hover:after {
    width: 100%;
    left: 0;
}
/*#PageMenu li:last-child
{
    margin-left: 0;
}*/

.listActive
{
    border-bottom: 2px solid var(--color-secound);
}
