.skillGroup
{
    height: auto;
    margin-bottom: 35px;
}
.skillTitle
{
    right: 0;
    top: 50%;
    transform: translateY(-10px);
    font-size: 20px;
}
.skillItemWrapper
{
    padding: 25px 0 25px 42px ;
}
.skillBtn .skillPrecent
.skillBtn i
{
    font-size: 32px;
}
.skillBtn .skillPrecent
{
    font-size: 20px;
}
.skillGroup:hover .skillPrecent
{
    display: none;
}
.skillGroup:hover .skillBtn i
{
    display: inline-block;
}
.skillGroup:hover .skillBtn
{
    background: var(--color-main);
}