#socialRow
{
    height: 50px;
}
#contactMeBtn
{
    height: 50px ;
    border-radius: 50px;
    font-family:"pf-sans-normal";
    font-size: 18px;
    padding: 15px 15px;
}
#contactMeBtn:hover
{
    box-shadow: var(--sh5);
    cursor: pointer;
}
#contactMeBtn i
{
    font-size: 25px;
    vertical-align: -8px;
    margin-right: var(--col-1);
}
#SpecialSocialNetworkWrapper li
{
    width: 50px;
    display: inline-block;
    height: 100%;
    margin-right: 20px;
}
#SpecialSocialNetworkWrapper li a
{
    height: 100%;
    width: 100%;
    border-radius: 55px;
    background :var(--color-main);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    padding: 10px 0;
    box-sizing: border-box;
    box-shadow: var(--sh5);
}
#SpecialSocialNetworkWrapper li a:hover
{
    background: var(--color-secound);
}
#SpecialSocialNetworkWrapper li a i
{
    font-size: 30px;
}


