.tip
{
    margin-bottom: 45px;
    padding: 20px 40px;
}
.tip:hover .tipBtn
{
    background: var(--color-main);
}

.tip:last-child
{
    margin-bottom: 0px;
}
.tip h4
{
    text-indent: 12px;
    margin-bottom: 15px;
}
.tip p
{
    text-indent: 30px;
}
