.tip
{
    margin-bottom: 45px;
    padding: 20px 40px;
}
.tip:hover .tipBtn
{
    background: var(--color-main);
}
.tipBtn
{
    width: 60px;
    height: 60px;
    font-size: 32px;
    padding: 14px 0;
    top: 50%;
    transform: translateY(-30px);
    right: -30px;
}
.tip:last-child
{
    margin-bottom: 0px;
}
.tip h4
{
    text-indent: 12px;
    margin-bottom: 15px;
}
.tip p
{
    text-indent: 30px;
}
